
html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}

body {
  font-family: 'Lato', sans-serif;
  background-image: url('https://ehschem.files.wordpress.com/2016/09/chemistry-peels.jpg');
  background-position: center top;
  background-size: cover;
  margin: 0;
}


.page-contact {
  padding: 0px;
  border: 1px solid #000;
  text-align: center;
}


.page-education {
  padding: 1px;
  text-align: center;
}

.page-experience {
  text-align: left;
}

.page-references {
  text-align: center;
}
